# Vim editer
*~
*.swp

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Cmake build
/build

# Visual studio
*.suo
*.obj
/windows/build
/windows/makefile

# Test
/test

# sqlite
/pool/sqlite
